{% extends 'base.html.twig' %}

{% block title %}Hello AppController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>
<main>
    <section class="header">
        <h1>League Of Legends Synergy</h1>
    </section>

    <pre></pre>
    <oui></oui>
    <img id="test_img" src="">

    <section class="select">
        {% for lane in lanes %}
        <div class="card">
            <section>
                <div class="slide">
                    <button>Flèche vers le haut</button>
                </div>

                <div class="image">
                    <img src="">
                </div>

                <div class="slide">
                    <button>Flèche vers le bas</button>
                </div>

                <div>
                    <select id='test'>
                        <option>Champion</option>
                        {% for champion in champions %}
                            <option value="{{ champion.nom }}">{{ champion.nom }}</option>
                        {% endfor %}
                    </select>
                </div>

                <div>
                    <h2>{{ lane.nom }}</h2>
                </div>
            </section>
        </div>
        {% endfor %}
<!--
        <div class="card"></div>

        <div class="card"></div>

        <div class="card"></div>

        <div class="card"></div>
--!>
    </section>

    <section class="btn">
        <div>
            <button>Calculer la synergie</button>
        </div>
    </section>
</main>
{% endblock %}
