*{
  margin: 0;
  padding: 0;
  background-color: aliceblue;
  overflow: hidden;

  h1{
    text-align: center;
  }

  h2{
    text-align: center;
  }

  .header{
    height: 25vh;
  }

  .select{
    height: 55vh;
    display: flex;
    justify-content: space-around;

    .card{
      display: flex;
      justify-content: center;
      border: solid black;
      height: auto;
      width: 18%;

      section{
        .image{
          height: 30vh;
        }
      }
    }
  }

  .btn{
    height: 20vh;

    div{
      display: flex;
      justify-content: center;
      button:hover{
        display: flex;
        background-color: aqua;
      }
    }
  }
}