*{
  margin: 0;
  padding: 0;
  background-color: aliceblue;
  overflow: hidden;

  body{

    h2{
      text-align: center;
    }

    .header{
      height: 25vh;

      h1{
        text-align: center;
        margin-top: 10vh;
      }
    }

    .select{
      height: 55vh;
      display: flex;
      justify-content: space-around;

      .card{
        display: flex;
        justify-content: center;
        border: solid black;
        height: auto;
        width: 18%;

        section{
          display: flex;
          flex-direction: column;
          justify-content: space-around;

          .slide{
            display: flex;
            justify-content: center;

            button{
              border: none;
            }

            button:hover{
              cursor: pointer;
            }
          }

          .names{
            display: flex;
            justify-content: center;
          }

          .image{
            height: 30vh;
          }
        }
      }
    }

    .btn{
      height: 20vh;

      div{
        display: flex;
        justify-content: center;
        margin-top: 5vh;

        button:hover{
          display: flex;
          background-color: aqua;
        }
      }
    }
  }
}